﻿@model MvcApplication.ViewModel.RestaurantViewModel

<h2>@Html.LabelFor(m => m.Title)</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.Title)</td>
            <td>@Html.TextBoxFor(m => m.Title)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.PhoneNumberText)</td>
            <td>@Html.TextBoxFor(m => m.PhoneNumberText)</td>
        </tr>
    </table>

    <input type="submit" value="Save" />
    
    <div class="message-success">@ViewBag.Message</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
